<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @student.index %>
</p>

<p>
  <strong>Wiktorkrzyminski:</strong>
  <%= @student.WiktorKrzyminski %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
